<h2>Помощь</h2>
<h3>Регистрация</h3>
<p>
Для использования некоторых возможностей каталога метаданных требуется регистрация. В частности для добавления, редактирования данных, просмотра статистики т.д. Для регистрация кликните по ссылке "Создать акаунт" и введите необходимые данные. 
</p>

<h3>Тестирование каталога через REST интерфейс</h3>
<p>
В целях тестирования может потребоваться послать запрос каталогу напрямую, без использования пользовательского интерфейса. Для этого необходимо кликнуть по ссылке "Testing Catalog". В интерфейсе тестирования вы можете выбрать операцию и заполнить необходимые свойства запроса. После нажатия на кнопке send вы увидите ответ каталога.
</p>

<h3>Добавление данных</h3>
<p>
Для добавления данных вам необходимо зайти в "Моя кабинет". Выберите файл с метаданными и нажмите кнопку "Загрузить". Если файл пройдет валидацию, то он будет добавлен в базу данных и вы увидите его с своем списке метаданных. Если же файл валидацию не пройдет, то каталог отобразит подробное сообщение об ошибках в файле. На данный момент единственным форматом метаданных является ISO, поэтому все загружаемые метаданные должны быть представлены в этом формате.
</p>

<h3>Удаление данных</h3>
<p>
Выделите данных, которые вы хотите удалить и нажмите "Удалить выделенные". Будьте осторожны: удаление данных необратимо.
</p>

<h3>Просмотр и редактирование данных</h3>
<p>
Для просмотра и редактирования кликните по id метаданных. Просматривать метаданные можно в двух форматах: в формате xml и в "улучшенном" формате. Просмотр в формате xml просто выводит содержимое метаданных без какой-либо обработки. Просмотр в формате xml не всегда удобен, поэтому реализован также "улучшенный" формат, который показывает только важные поля в виде списка пар имя поля - значение. Вы также можете редактировать эти поля, кликнув по ним.
</p>

<h3>Поиск данных</h3>
<p>
На главной странице есть форма для поиска метаданных. Каталог ищет значений поисковой строки в таких текстовых свойствах данных, как заголовок, описание, абстрактная информация. Также на главной странице можно задать географическую область, которая также будет использоваться для фильтрации.
</p>

<h2>Интеграция со сторонним ПО</h2>
<p>
Добавление новых метаданных удаленно происходит очень просто. Для этого необходимо послать post запрос на http://url_to_catalog/restful_upload_metadata, передав следующие параметры:
<ul>
<li>login - логин пользователя</li>
<li>password - md5 хэш от пароля пользователя</li>
<li>xml - метаданные</li>
</ul>
Ответ - описание ошибки.
</p>