html {
}

body {
    background-color: #666;
    font-family: Arial, sans-serif;
}

#content {
    padding: 10px 10px 20px 10px; /*height: 100%;*/
    background-color: #fff;
    border: 10px solid #ccc;
}

#header {
    background-color: #ccc;
    padding: 10px 20px;
    height: 50px;
}

#logo {
    float: left;
}

#header-links {
    float: right;
}

#navigation-links {
    font-size: small;
}

#mdtable {
    background-color: #ccccff;
    width: 100%;
    margin: 10px 0px;
}

#mdtable_header td {
    background-color: white;
}

.mdtable_header {
    background-color: #666;
    color: white;
    text-align: center;
}

.metadata_abstract {
    font-size: smaller;
    padding: 10px;
}

.block {
    margin: 15px 0;
}

.title {
    font-size: larger;
}

.search-block {
    margin: 15px 0;
}

.search-block a {
    font-size: small;
}

label {
    display: block;
    margin-top: 10px;
}

.small_bottom_link {
    font-size: small;
}

.change_format {
    font-size: small;
    width: 200px;
    background: #ccc;
    border: solid darkgray 1px;
    padding: 5px;
    float: right;
}

#message {
    color: green;
}

#error {
    color: red;
}


.select_geo {
    background-color: #ccccff;
    padding: 10px;
    font-size: smaller;
    width: 250px;
    border: solid darkgray 1px;
}

.select_geo input {
    width: 80px;
}

.extent_label {
    width: 100px;
    float: left;
}

.additional_query {
    font-size: smaller;
    vertical-align: middle;
    margin: 2px;
}

.big_plus {
    font-weight: bold;
}

.metadata_title {
    font-size: 120%;
    padding: 5px;
}

.locale_block {
    padding: 3px;
    font-size: 70%;
}

.locale_block a {
    color: white;
}

.result_link {
    font-size: smaller;
    padding: 0 10px 10px 10px;
}

.geo_table {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.geo_table td {
    width: 50px;
}


/* xml formatting */
.tag {
    color: steelblue;
    font-weight: bold;
}

.punct {
    color: darkgray;
    font-weight: bold;
}

.attribute {
    color: dimgray;
    font-weight: bold;
}

.namespace {
    color: steelblue;
    font-weight: bold;
}

.smallLink {
    font-size: 70%;
}